<% layout('/layouts/boilerplate') %>
<body>
    <h2 class="text-center mt-3"><%= listing.title %></h2>
    <div class="row offset-3">
        <div class="col-6 offset-1">
            <img src="<%= listing.image %>" class="img-fluid rounded mb-3 d-block mx-auto shadow listing-card" style="height: 60vh;">
        </div>
    <div class="row offset-1 col-6">
        <i class="text-muted"><b>Posted by:</b><%= listing.owner.username %></i>
        <b><%= listing.description %></b>
    </div>
    <!-- toLocaleString('en-IN')  for comma's in indian style -->
    <div class="row offset-1 mb-3">
    <b class="bi bi-currency-rupee text-dark fs-5 mt-1"><%= listing.price.toLocaleString('en-IN') %></b>
    <b class="text-muted"><%= listing.location %></b>
    <b class="text-muted fs-b"><%= listing.country %></b>
    </div>
    <br>
    <% if(currentUser && currentUser._id.equals(listing.owner._id)) {%>
    <div class="btns mb-3">
        <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-3 edit-btn">Edit</a>

        <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger offset-5">Delete</button>
        </form>
    </div>
    <% } %>
    <hr>
    <% if(currentUser) {%>
    <div class="col-8">
    <h4>Leave a review</h4>
    <form action="/listings/<%= listing._id %>/reviews" method="POST" novalidate class="needs-validation">
        <div class="form-group">
            <label for="rating"></label>
            <input type="range"  name="review[rating]" min="1" max="5" id="rating" class="form-range">
            <label for="content">Content</label>
            <textarea class="form-control" rows="5" name="review[comment]" required></textarea>
            <div class="invalid-feedback">Add a Comment</div>
        </div>
        <button type="submit" class="btn btn-dark mt-3 mb-3">Submit</button>
    </form>
    <hr>
    <% } %>
    
    <p><b>All reviews</b></p>
    <div class="row">
    <% for(review of listing.reviews) { %>
        <div class="card col-5 mb-3 ms-3 p-2">
            <div class="card-body">
                <h5 class="card-title">@<%= review.author.username %></h5>
                <p class="card-text">Comment: <i><%= review.comment %></i></p>
                <p class="card-text">Rating: <%= review.rating %> <i class="bi bi-star"></i></p>
            </div>
            <% if(currentUser && currentUser._id.equals(review.author._id)) { %>
            <form action="/listings/<%=listing._id %>/reviews/<%= review._id %>?_method=DELETE" method="post">
                <button class="btn btn-sm btn-danger " type="submit">Delete</button>
            </form>
            <% } %>
        </div>
    <% } %>
</div>
</div>
</body>
