<% layout('/layouts/boilerplate') %>
<body>
    <h2 class="text-center mt-3"><%= listing.title %></h2>
    <div class="row offset-3">
        <div class="col-6 offset-1">
            <img src="<%= listing.image %>" class="img-fluid rounded mb-3 d-block mx-auto shadow" style="height: 60vh;">
        </div>
    <div class="row offset-1 col-6">
        <b><%= listing.description %></b>
    </div>
    <!-- toLocaleString('en-IN')  for comma's in indian style -->
    <div class="row offset-1">
    <b class="bi bi-currency-rupee text-dark fs-5 mt-1"><%= listing.price.toLocaleString('en-IN') %></b>
    <b class="text-muted"><%= listing.location %></b>
    <b class="text-muted fs-b"><%= listing.country %></b>
    </div>
    <br>
    <div class="row offset-1 col-6 btns mt-3">
    <div class="col offset-2">
    <button type="button" class="btn show-btn"><a href="/listings/<%= listing._id %>/edit" style="text-decoration: none;color: #fff;">Edit</a></button>
    </div>
    <div class="col">
        <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger mb-4">Delete</button>
        </form>
    </div>
    </div>
    </div>
</body>
